export(installPythonModules)
export(buildRepSeqNetwork)
export(findPublicClusters)
export(buildPublicClusterNetwork)
export(buildPublicClusterNetworkByRepresentative)
export(findAssociatedSeqs)
export(findAssociatedSeqs2)
export(findAssociatedClones)
export(buildAssociatedClusterNetwork)
export(kmeansAtchley)
export(generateNetworkObjects)
export(generateNetworkGraphPlots)
export(plotNetworkGraph)
export(addNodeNetworkStats)
export(node_stat_settings)
export(addClusterMembership)
export(getClusterStats)
export(generateNetworkFromAdjacencyMat)
export(sparseAdjacencyMatFromSeqs)
export(adjacencyMatAtchleyFromSeqs)
export(encodeTCRSeqsByAtchleyFactor)
export(filterInputData)
export(getNeighborhood)
export(aggregateIdenticalClones)
export(loadDataFromFileList)
export(combineSamples)
export(saveNetwork)
export(saveNetworkPlots)


useDynLib(NAIR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
